body{
    background-color: rgb(33, 32, 32);
    color: antiquewhite;
    text-align: center;
}
img{
    width: 200px;
    height: 200px;
}
button{
    position: fixed;
    bottom: 2rem;
    width: 50vw;
    left: 25vw;
    
}